header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  .over-nav {
    background: #070f40;
    height: 4rem;
    .container {
      display: flex;
      gap: 2rem;
      align-items: center;
      line-height: 4rem;
      color: #fff;
      .hotline,
      .consulting {
        font-size: 1.4rem;
      }
      .hotline span a,
      .consulting span a {
        color: #fff;
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 700;
        img {
          margin: 0 0.8rem;
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
  }
}
nav {
  width: 100%;
  height: 100%;
  height: 7rem;
  background: #fff;
  box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
  .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    .nav-links {
      line-height: 7rem;
      height: 100%;
      display: flex;
      align-items: center;
      .sidebar-logo {
        display: none;
      }
    }
    .bx-menu {
      display: none;
    }
    .links {
      display: flex;
      li {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0 1.4rem;
        color: var(--Gray-800, #070f40);
        font-weight: 600;
        a {
          height: 100%;
          text-decoration: none;
          white-space: nowrap;
          color: inherit;
          font-size: 1.6rem;
        }
        .arrow {
          /*background: red;
              */
          height: 100%;
          width: 2.2rem;
          line-height: 7rem;
          text-align: center;
          display: inline-block;
          color: var(--Gray-800, #040f3e);
          transition: all 0.3s ease;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -ms-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
        }
        .sub-menu {
          position: absolute;
          top: 7rem;
          left: 0;
          line-height: 4rem;
          background: #fff;
          box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
          border-radius: 0 0 0.4rem 0.4rem;
          display: none;
          z-index: 2;
          -webkit-border-radius: 0 0 0.4rem 0.4rem;
          -moz-border-radius: 0 0 0.4rem 0.4rem;
          -ms-border-radius: 0 0 0.4rem 0.4rem;
          -o-border-radius: 0 0 0.4rem 0.4rem;
          a {
            color: inherit;
            font-size: 1.5rem;
          }
          li {
            padding: 0 2.2rem;
            border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
            color: var(--Gray-800, #040f3e);
            &:hover {
              color: var(--Primary-800, #ef5627);
            }
          }
          .more-arrow {
            line-height: 4rem;
          }
        }
      }
      li:hover {
        color: var(--Primary-800, #ef5627);
      }
      li:hover .htmlcss-arrow,
      li:hover .js-arrow {
        transform: rotate(180deg);
      }
      li:hover .htmlCss-sub-menu,
      li:hover .js-sub-menu {
        display: block;
      }
    }
    .logo a {
      font-size: 3rem;
      color: #fff;
      text-decoration: none;
      font-weight: 600;
    }
    .buy-now {
      padding: 1.4rem;
      border-radius: 6px;
      background: var(--Priamry-light-2, #f24e1e);
      color: #fff;
      text-decoration: none;
      color: var(--White, var(--Backgrounds-Primary, #fff));
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }
    }
  }
}
@media (max-width: 1200px) {
  header .over-nav {
    display: none;
  }
  body {
    padding-top: 7rem;
  }
  nav {
    .navbar {
      .bx-menu {
        display: block;
        font-size: 2.5rem;
        color: var(--Gray-800, #040f3e);
      }
      .links {
        display: block;
        margin-top: 2rem;
        li .arrow {
          line-height: 4rem;
        }
        li {
          display: block;
          .sub-menu {
            position: relative;
            top: 0;
            box-shadow: none;
            display: none;
          }
        }
      }
      .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 27rem;
        width: 100%;
        background: #fff;
        line-height: 4rem;
        padding: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
        .sidebar-logo {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .logo-name {
            font-size: 2.5rem;
            color: #fff;
          }
        }
        .sidebar-logo i {
          font-size: 2.5rem;
          color: var(--Gray-800, #040f3e);
        }
      }
    }
  }

  nav .navbar .links li nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }

  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }

  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }

  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
}
@media (max-width: 370px) {
}

// CSS Chung
.ei-primary-btn {
  display: flex;
  padding: 1.4rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
  background: var(--Priamry-light-2, #f24e1e);
  text-decoration: none;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  div {
    color: var(--White, var(--Backgrounds-Primary, #fff));
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 150% */
  }
}
.ei-secondary-btn {
  display: flex;
  padding: 1.4rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 6px;
  border: 1px solid var(--Priamry-light-2, #f24e1e);
  background: var(--Primary-400, #fdeee9);
  text-decoration: none;
  &:hover {
    cursor: pointer;
    opacity: 0.9;
  }
  div {
    color: var(--Priamry-light-2, #f24e1e);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.4rem; /* 150% */
  }
}

.ei-title {
  color: var(--Priamry-light-2, #f24e1e);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4rem;
  margin-bottom: 4rem;
  span {
    color: var(--text-800, #070f40);
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.4rem;
  }
}
.wrap-text {
  width: 100%;
}
.home {
  #slogan {
    padding: 5rem 0;
    .topone {
      display: flex;
      align-items: center;
      color: var(--Priamry-light-2, #f24e1e);
      font-size: 4.8rem;
      font-style: normal;
      font-weight: 900;
      line-height: 4rem;
      gap: 0.8rem;
      div {
        padding-top: 3rem;
      }
    }
    .slogan-content {
      color: var(--text-800, #070f40);
      font-size: 3.2rem;
      font-style: normal;
      font-weight: 800;
      line-height: 5.2rem;
      margin: 3.6rem 0;
      span {
        color: var(--Primary-800, #e95626);
      }
    }
    .slogan-btn {
      display: flex;
      align-items: center;
      gap: 2.4rem;
    }
  }
  #featured {
    padding: 10rem 0;
    background: var(--Backblue, #edecf0);
    .featured-box {
      border-radius: 12px;
      background: var(--Backgrounds-Primary, #fff);
      box-shadow: 3px 4px 13.9px 0px rgba(7, 15, 64, 0.1);
      padding: 2.4rem;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      align-items: flex-start;
      height: 100%;
      .featured-content {
        color: var(--text-800, #070f40);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
        span {
          font-weight: 700;
        }
      }
    }
  }
  #ei_video {
    padding: 10rem 0;
    .ei-video-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1.6rem;
      margin-bottom: 5rem;
    }
    .ei_video_iframe {
      display: flex;
      justify-content: center;
      iframe {
        width: 100%;
        height: 74rem;
        border: 1px solid;
      }
    }
  }
  #benefit {
    background: var(--Backblue, #edecf0);
    .benefit-row {
      .above {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: var(--text-800, #070f40);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem;
      }
      .benefit-des {
        color: var(--text-800, #070f40);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem;
      }
    }
  }
  #why_choose_ei {
    padding: 10rem 0;
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  #price {
    padding: 10rem 0;
    background: var(--Backblue, #edecf0);
    li a {
      text-decoration: none;
      color: inherit;
    }
    .price-tabs-head {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      background: #fff;
      padding: 1.2rem;
      border-radius: 0.8rem;
      -webkit-border-radius: 0.8rem;
      -moz-border-radius: 0.8rem;
      -ms-border-radius: 0.8rem;
      -o-border-radius: 0.8rem;
      margin-bottom: 3.2rem;

      li {
        color: var(--text-700, #353e65);
        text-align: center;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem;
        background: var(--Primary-400, #fdeee9);
        &:first-child {
          border-radius: 6px 0px 0px 6px;
        }
        &:last-child {
          border-radius: 0px 6px 6px 0px;
        }
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          padding: 1.2rem 3.2rem;
        }
      }
      .ui-state-active,
      .ui-state-hover {
        background: var(--Priamry-light-2, #f24e1e);
        color: #fff;
      }
    }
    .business-tab {
      display: flex;
      margin-bottom: 3.2rem;
      li {
        color: var(--text-600, #585e7e);
        text-align: center;
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; /* 133.333% */
        width: 50%;
        position: relative;
        &::after {
          position: absolute;
          bottom: -1.2rem;
          content: " ";
          width: 100%;
          background: #fff;
          height: 3px;
          left: 0;
          right: 0;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .ui-state-active,
      .ui-state-hover {
        font-weight: 700;
        color: var(--text-800, #070f40);
        &::after {
          background: red;
        }
      }
    }
    .price-slick {
      .slick-slide {
        margin: 0 10px; /* Adjust the value to control the spacing */
      }

      .slick-list {
        margin-left: -10px; /* Negative margin to counter the margin on the first and last slides */
        margin-right: -10px;
      }
      .slick-prev:before,
      .slick-next:before {
        opacity: 1;
        color: #353e65;
      }
      .slick-prev.slick-disabled:before,
      .slick-next.slick-disabled:before {
        color: #8c91a5;
      }
    }
    .price-box {
      border-radius: 16px;
      border: 1px solid var(--text-300, #e8e7ec);
      background: var(--Backgrounds-Primary, #fff);
      box-shadow: 3px 4px 13.9px 0px rgba(7, 15, 64, 0.1);
      padding: 2.4rem;
      .price-name {
        color: var(--text-800, #070f40);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 700;
        line-height: 2.4rem; /* 150% */
        margin-bottom: 1.6rem;
        span {
          color: var(--Priamry-light-2, #f24e1e);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.4rem;
          padding: 0.2rem 0.6rem;
          border-radius: 6px;
          background: var(--Priamry-light-7, #feede9);
        }
      }
      .price-have {
        display: flex;
        align-items: center;
        gap: 0.6rem;
        color: var(--text-700, #353e65);
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        margin-bottom: 1.6rem;
        span {
          font-weight: 700;
        }
      }
      .price-money {
        color: var(--text-800, #070f40);
        font-size: 3.6rem;
        font-style: normal;
        font-weight: 800;
        line-height: 4rem; /* 111.111% */
        margin-bottom: 2.4rem;

        span {
          color: var(--text-700, #353e65);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.4rem;
        }
      }
    }
    .note {
      color: var(--text-800, #070f40);
      font-size: 1.6rem;
      font-style: italic;
      font-weight: 500;
      line-height: 2.4rem;
      margin-top: 3rem;
      span {
        font-weight: 700;
      }
    }
    .price-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
      margin-top: 3rem;
    }
  }
  #feedback {
    padding: 10rem 0;
    .feedback-box {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      align-items: flex-start;
      border-radius: 32px;
      background: var(--gray-50, #f9fafb);
      box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1),
        0px 1px 2px 0px rgba(0, 0, 0, 0.06);
      padding: 3.2rem;
      .feedback-seperator {
        width: 100%;
        height: 1px;
        background: #e8e7ec;
      }
      .feedback-content {
        color: var(--text-800, #070f40);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem; /* 150% */
      }
      .feedback-info {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        .feedback-name {
          color: var(--text-800, #070f40);
          font-size: 1.8rem;
          font-style: normal;
          font-weight: 700;
          line-height: 2.4rem; /* 133.333% */
        }
        .feedback-position {
          color: var(--text-800, #070f40);
          font-size: 1.4rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2rem; /* 142.857% */
        }
      }
    }
  }
  #outstanding_news {
    padding: 10rem 0;
    background: var(--Backblue, #edecf0);
    .outstanding-news-box {
      border-radius: 16px;
      background: var(--Backgrounds-Primary, #fff);
      padding: 1.6rem 1.6rem 3.2rem 1.6rem;
      .thumbnail {
        display: block;
        margin: 0 auto;
      }
      .outstanding-news-title {
        color: var(--Gray-800, #040f3e);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 3.2rem; /* 133.333% */
        margin-top: 1.6rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .outstanding-news-des {
        color: var(--Gray-600, #575e7e);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.4rem; /* 150% */
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .info {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: var(--Gray-4, #9ba3b1);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; /* 150% */
        margin-top: 3.2rem;
      }
    }
  }
  #partner {
    padding: 10rem 0;
    .scroller[data-animated="true"] {
      overflow: hidden;
    }
    .scroller__inner {
      padding-block: 1rem;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
    }

    .scroller[data-animated="true"] .scroller__inner {
      width: max-content;
      flex-wrap: nowrap;
      animation: scroll var(--_animation-duration, 40s)
        var(--_animation-direction, forwards) linear infinite;
    }

    .scroller[data-direction="right"] {
      --_animation-direction: reverse;
    }

    .scroller[data-direction="left"] {
      --_animation-direction: forwards;
    }

    .scroller[data-speed="fast"] {
      --_animation-duration: 20s;
    }

    .scroller[data-speed="slow"] {
      --_animation-duration: 60s;
    }

    @keyframes scroll {
      to {
        transform: translate(calc(-50% - 0.5rem));
      }
    }

    .tag-list {
      margin: 0;
      padding-inline: 0;
      list-style: none;
    }

    .tag-list li {
      padding: 1rem;
      background: var(--clr-primary-400);
      border-radius: 0.5rem;
      box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  #form_bottom {
    padding: 10rem 0;
    background-image: url(https://easyinvoice.vn/wp-content/uploads/2024/10/form-background.png);
    .ei-title {
      color: #fff;
    }
    .list-featured {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      padding-left: 0;
      li {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        color: var(--White, var(--Backgrounds-Primary, #fff));
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 600;
        line-height: 2.4rem; /* 150% */
      }
    }
    .form-box {
      border-radius: 12px;
      background: var(--Backgrounds-Primary, #fff);
      padding: 3.2rem;
      .form-title {
        color: var(--text-800, #070f40);
        text-align: center;
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 3.2rem; /* 133.333% */
        margin-bottom: 4rem;
      }
      .form-row {
        margin-bottom: 1.6rem;
        input {
          padding: 1.2rem 1.6rem;
          border-radius: 6px;
          border: 1px solid var(--text-300, #e8e7ec);
          background: var(--Backgrounds-Primary, #fff);
          color: var(--text-800, #070f40);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 400;
          line-height: 2.4rem; /* 150% */
        }
      }
      .choose-solution {
        .heading {
          color: var(--text-800, #070f40);
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 600;
          line-height: 2.4rem; /* 150% */
          margin-bottom: 1.6rem;
        }
        .solution-option {
          display: flex;
          flex-direction: column;
          gap: 1.2rem;
          .solution-select {
            display: flex;
            align-items: center;
            &:hover {
              cursor: pointer;
              span {
                font-weight: 600;
              }
            }
            span {
              color: var(--text-700, #353e65);
              font-size: 1.6rem;
              font-style: normal;
              font-weight: 400;
              line-height: 2.4rem; /* 150% */
            }
          }
        }
      }
      .solution-select input[type="radio"] {
        display: none;
      }

      .solution-select .label-select {
        position: relative;
        height: 25px;
        width: 25px;
        background-image: url("https://easyinvoice.vn/wp-content/uploads/2024/10/non-checked-icon-1.png");
        background-size: cover;
        display: inline-block;
        margin-right: 10px;
      }

      .solution-select input[type="radio"]:checked + .label-select {
        background-image: url("https://easyinvoice.vn/wp-content/uploads/2024/10/checked-icon-1.png");
      }
    }
  }
}
#footer {
  padding: 10rem 0;
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    padding: 0;
  }
  .logoes-footer {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 3.2rem;
  }
  .footer-col-left {
    .footer-slogan {
      color: var(--Priamry-light-2, #f24e1e);
      font-family: "Averta Std CY";
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.4rem; /* 150% */
      margin-bottom: 2.2rem;
    }
    .footer-info {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        color: var(--text-800, #070f40);
        font-size: 1.4rem;
        font-style: normal;
        font-family: "Averta Std CY";
        font-weight: 400;
        line-height: 2rem; /* 142.857% */
      }
    }
  }
  .footer-credit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    .all-product {
      border-radius: 6px;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid var(--text-300, #e8e7ec);
      color: var(--text-800, #070f40);
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2.4rem; /* 150% */
      padding: 0.8rem 1.8rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      position: relative;
      cursor: pointer;
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      -ms-border-radius: 6px;
      -o-border-radius: 6px;
      .all-product-show {
        position: absolute;
        background: #fff;
        bottom: 130%;
        left: 0;
        width: 100rem;
        padding: 3rem 5rem;
        border-radius: 10px;
        display: none;
        border: 1px solid #ccc;
        .all-product-box {
          display: flex;
          justify-content: space-between;
          gap: 2rem;
          flex-wrap: wrap;
          .all-product-col {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            .all-product-nav-title {
              color: var(--Gray-800, #040f3e);
              font-size: 1.8rem;
              font-family: "Averta Std CY";
              font-weight: 700;
            }
            .list-software {
              display: flex;
              flex-direction: column;
            }
          }
        }
        .software-row {
          padding: 1rem;
          gap: 2rem;
          &:hover {
            background: var(--primary-5, #fdeee9);
          }
          .software {
            .software-title {
              color: var(--Gray-800, #040f3e);
              font-family: "Averta Std CY";
              font-weight: 700;
            }
            .software-des {
              color: var(--Gray-900, #030b2c);
              font-family: "Averta Std CY";
            }
          }
        }
      }
    }
    .footer-list-sns {
      display: flex;
      gap: 1.6rem;
      align-items: center;
    }
  }
  .list-title-footer {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    li {
      color: var(--text-700, #353e65);
      font-family: "Averta Std CY";
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 600;
      line-height: 2.4rem; /* 150% */
    }
  }
}
// Responsive
@media (min-width: 1600px) {
  .over-nav .container,
  .navbar.container {
    max-width: 156rem;
  }
}
@media (max-width: 1600px) {
  #footer .footer-credit .all-product .all-product-show {
    width: 100rem;
  }
}
@media (max-width: 1400px) {
  nav .navbar .buy-now {
    display: none;
  }
  nav .navbar .links li {
    padding: 0 1rem;
  }
  .home #slogan .slogan-content {
    font-size: 2.4rem;
    margin: 2rem 0;
    line-height: 4rem;
  }
  .home #ei_video .ei_video_iframe iframe {
    height: 64rem;
  }
  .home {
    #featured,
    #ei_video,
    #why_choose_ei,
    #price,
    #feedback,
    #outstanding_news,
    #partner,
    #form_bottom {
      padding: 5rem 0;
    }
  }
  #footer {
    padding: 5rem 0;
  }
  .home #price .price-box .price-money {
    font-size: 2.4rem;
  }
}
@media (max-width: 1200px) {
  .home #feedback .feedback-box {
    padding: 2rem;
  }
  #footer .footer-credit .all-product .all-product-show {
    width: 60rem;
  }
}

@media (max-width: 1024px) {
  .home #slogan .slogan-content {
    font-size: 2rem;
    line-height: normal;
  }
  .home #slogan .topone {
    font-size: 3rem;
  }
  .ei-title {
    font-size: 2.6rem;
  }
}
@media (max-width: 990px) {
  .home #featured .featured-box {
    padding: 1rem 1rem 2rem 1rem;
    gap: 1rem;
  }
  .home #featured {
    .wrap-text {
      display: none;
    }
  }
  .home #ei_video .ei_video_iframe iframe {
    height: 40rem;
  }
  .home #benefit {
    padding: 5rem 0;
  }
  .home #outstanding_news .outstanding-news-box {
    padding: 1rem;
  }
  .home #outstanding_news .outstanding-news-box .outstanding-news-title {
    font-size: 1.8rem;
    line-height: normal;
  }
  .home #outstanding_news .outstanding-news-box .info {
    margin-top: 1.2rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .home #slogan {
    padding: 2rem 0;
    .wrap-text {
      display: none;
    }
  }
  .home #price .price-slick .slick-prev,
  .home #price .price-slick .slick-next {
    z-index: 999;
  }
  .home #price {
    .container {
      overflow: hidden;
    }
    .price-slick {
      .slick-next {
        right: 0;
      }
      .slick-prev {
        left: 0;
      }
    }
  }
  .home #price .price-tabs-head li {
    font-size: 1.6rem;
  }

  #footer .footer-credit {
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
  }
  #footer .footer-credit .all-product .all-product-show {
    width: 50rem;
  }
}

@media (max-width: 500px) {
  .home {
    #featured,
    #ei_video,
    #why_choose_ei,
    #price,
    #feedback,
    #outstanding_news,
    #partner,
    #form_bottom,
    #benefit {
      padding: 2rem 0;
    }
  }
  #footer {
    padding: 2rem 0;
  }
  .ei-title {
    font-size: 2rem;
    line-height: normal;
    margin-bottom: 2rem;
  }
  .home #featured .featured-box {
    flex-direction: row;
  }
  .home #form_bottom .list-featured {
    gap: 1rem;
  }
  .home #form_bottom .form-box .form-title {
    font-size: 2rem;
  }
  .home #form_bottom .form-box .form-row {
    margin-bottom: 1.2rem;
  }
  .home #form_bottom .form-box {
    padding: 3rem 2rem;
  }
  #footer .footer-credit .all-product .all-product-show {
    width: 36rem;
  }
  #footer .footer-credit {
    margin-top: 1rem;
  }
  #footer .list-title-footer li {
    font-size: 1.4rem;
  }
  #footer .footer-col-left .footer-info,#footer .list-title-footer {
    gap: 1.6rem;
  }
}
